#form-otpravok{
    padding: 125px 0;
    margin: 45px auto;
    background-color: #f1f4f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}
#form-otpravok h1{
    margin: 25px 0;
}
#form-otpravok > p{
    text-align: center;
    width: 50%;
}
form{
    width: 45%;
    margin-top:35px;
}

form .main-form{
    display: flex;
    justify-content: space-between;
}
form .main-form div{width: 45%;margin: 10px 2.5%; }
form .main-form1 div{width: 95%;margin: 10px 2.5%;}
form input[type='text'],form input[type='email']{
    width: 90%;
    padding: 15px 5%;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    background-color: #f1f4f8;
    margin-top: 5px;
}
input[type="radio"],input[type="checkbox"]{
    display: none;
}
.da,.da1{
    margin: 3px 5px;
    display: inline-block;
    width: 25px;
    height: 25px;

}
.da{
    background:url(../img/lol.png);
    background-size: contain;
}
.da:hover{
    animation: lol 0.5s;
}
.da::after{
    content: '';
    display: block;
    border-radius: 50%;
    margin: 7px;
    width: 11px;
    height: 11px;
    background-color: #3586ff;
    opacity: 0;
    transition: opacity 0.5s;
}
.da1::after{
    content: '';
    display: block;
    background-image: url(../img/ok.png);
    background-size: contain;
    margin: 4px;
    width: 17px;
    height: 17px;
    opacity: 0;
    transition: opacity 0.5s;
}
input[id="cell1"]:checked ~ label[for='cell1']::after,
input[id="cell2"]:checked ~ label[for='cell2']::after,
input[id="cell3"]:checked ~ label[for='cell3']::after,
input[id="cell4"]:checked ~ label[for='cell4']::after{
    opacity: 1;
}
.main-form2{
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.main-form2 p{
    margin: 0 5px;
}
form >div{
    margin-top: 35px!important;
}
.da1{
    background:url(../img/lol1.png);
    background-size: contain;
}
form div .main-form2 p{
    color: #000;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
}